* {
  box-sizing: border-box;
}

.falsescroll {
  overflow: visible;
  width: 100%;
  height: 100%;
}

.windowsize {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.title {
  position: sticky;
  top: 0;
  height: 50px;
  width: 100%;
  background-color: rgb(var(--title-rgb));
  display: grid;
  grid-template-columns: 1fr clamp(150px, 20vw, 300px) 1fr;
  align-items: center;
  z-index: 2;
}

.title-left {
  height: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.title-right {
  height: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.title-right-grid {
  display: grid;
  grid-template-columns: 1fr auto auto auto;
  align-items: right;
}

.item-left {
  margin: 0px 5px;
  justify-self: left;
  display: grid;
}
.item-center {
  justify-self: center;
}
.item-right {
  margin: 0px 5px;
  justify-self: right;
  display: grid;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column > img {
  vertical-align: middle;
  width: 100%;
  margin: 4px 0;
  border-radius: 10px;
}

.column > img:hover {
  cursor: pointer;
}

/* Mobile */
@media (max-width: 700px) {
  .column {
    padding: 0 2px;
  }

  .column > img {
    margin: 2px;
  }

  .nonmobile {
    display: none;
  }

  @media (pointer: coarse) {
    .nonmobiletouch {
      display: none
    }
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .column {
    padding: 0 3px;
  }
  .column > img {
    margin: 3px;
  }
}

@media (min-width: 1121px) and (max-width: 1600px) {
  .column {
    padding: 0 3px;
  }
  .column > img {
    margin: 3px;
  }
}