* {
  box-sizing: border-box;
}

.falsescroll {
  height: 100%;
}

.title {
  position: sticky;
  top: 0;
  height: 50px;
  width: 100%;
  background-color: rgb(var(--title-rgb));
  display: grid;
  grid-template-columns: 1fr clamp(150px, 20vw, 300px) 1fr;
  align-items: center;
  z-index: 2;
}

.title-left {
  height: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.title-right {
  height: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.title-right-grid {
  display: grid;
  grid-template-columns: 1fr auto auto auto;
  align-items: right;
}

.item-left {
  margin: 0px 5px;
  justify-self: left;
  display: grid;
}
.item-center {
  justify-self: center;
}
.item-right {
  margin: 0px 5px;
  justify-self: right;
  display: grid;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.column img {
  vertical-align: middle;
  width: 100%;
  border-radius: 10px;
}

.btn {
  height: 40px;
  stroke-width: 4px;
  stroke: rgb(var(--foreground-rgb));
  stroke-linecap: round;
  fill: none;
  opacity: 1;
  cursor: pointer;
  transition-duration: 250ms;
}

.inactive .btn {
  opacity: 0.2;
  cursor: default;
}

.btn.fill {
  fill: rgb(var(--highlight-rgb));
  stroke: rgb(var(--highlight-rgb));
}

/* Mobile */
@media (max-width: 700px) {
  .nonmobile {
    display: none;
  }

  @media (pointer: coarse) {
    .nonmobiletouch {
      display: none
    }
  }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .btn:hover {
    stroke-width: 5px;
    stroke: rgb(var(--highlight-rgb));
    transition-duration: 250ms;
  }
  .inactive .btn:hover {
    stroke-width: 4px;
    stroke: rgb(var(--foreground-rgb));
    transition-duration: 250ms;
  }
}