.delete-menu {
  position: relative;
  width: 40px;
}

.delete-dropdown {
  position: fixed;
  width: 40px;
  background-color: rgb(var(--title-rgb));
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  transform: translateY(-150px);
  transition-duration: 250ms;
  z-index: 1;
}
