.upl {
  position: relative;
  height: 40px;
  width: 40px;
}

.box__file {
  position: absolute;
  height: 40px;
  width: 40px;
  font-size: 0;
  opacity: 0;
  cursor: pointer;
}

.box__file::file-selector-button {
  font-size: 0;
}

.btn.abs {
  position: absolute;
  height: 40px;
  width: 40px;
}

.plus, .circle, .check {
  position: relative;
  stroke: rgb(var(--foreground-rgb));
  stroke-linecap: round;
  fill: none;
}

.big-icon {
  margin-bottom: 30px;
  height: min(40vh, 40vw);
  width: min(40vh, 40vw);
  stroke-width: 4px;
}

.circle {
  animation: Loading 2s linear infinite;
}

.circle.big-icon {
  stroke-width: 3px;
}

#path1 {
  stroke-dasharray: 40, 100;
  animation: CheckL 3s;
}

#path2 {
  stroke-dasharray: 40, 100;
  animation: CheckR 3s;
}

@keyframes Gradient {
  0% {
		background-position: 100% 50%;
	}
  50% {
    background-position: 0% 50%;
  }
	100% {
		background-position: 100% 50%;
	}
}

@keyframes Adding {
  0% {
    transform: scale(0.95);
    opacity: 0.8;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.95);
    opacity: 0.8;
  }
}

@keyframes Loading {
  0% {
    stroke-dasharray: 5 85;
    stroke-dashoffset: 20;
  }
  45% {
    stroke-dasharray: 80 15;
    stroke-dashoffset: -5;
  }
  50% {
    stroke-dasharray: 80 15;
    stroke-dashoffset: -15;
  }
  95% {
    stroke-dasharray: 5 85;
    stroke-dashoffset: -150;
  }
  100% {
    stroke-dasharray: 5 85;
    stroke-dashoffset: -160;
  }
}

@keyframes CheckL {
  0% {
    opacity: 1;
    stroke-dashoffset: 50;
  }
  30% {
    stroke-dashoffset: 0;
  }
  60% {
    stroke-dashoffset: 0;
  }
  89% {
    opacity: 1;
  }
  90% {
    opacity: 0;
    stroke-dashoffset: -50;
  }
  100% {
    opacity: 0;
    stroke-dashoffset: 50;
  }
}

@keyframes CheckR {
  0% {
    opacity: 1;
    stroke-dashoffset: 90;
  }
  30% {
    stroke-dashoffset: 0;
  }
  65% {
    stroke-dashoffset: 0;
  }
  94% {
    opacity: 1;
  }
  95% {
    opacity: 0;
    stroke-dashoffset: -50;
  }
  100% {
    opacity: 0;
    stroke-dashoffset: 50;
  }
}