:root {
  --foreground-rgb: 30, 30, 30;
  --highlight-rgb: 255, 255, 255;
  --background-rgb-1: 238, 119, 82;
  --background-rgb-2: 231, 60, 126;
  --background-rgb-3: 35, 166, 213;
  --background-rgb-4: 35, 213, 171;
  --background-rgb: 200, 200, 200;
  --select-rgb: 220, 220, 220;
  --title-rgb: 35, 166, 213;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 200, 200, 200;
    --highlight-rgb: 255, 255, 255;
    --background-rgb-1: 50, 0, 12;
    --background-rgb-2: 25, 0, 20;
    --background-rgb-3: 20, 0, 75;
    --background-rgb-4: 0, 41, 11;
    --background-rgb: 0, 0, 0;
    --select-rgb: 70, 70, 70;
    --title-rgb: 5, 0, 30;
  }
}

body {
  background-color: rgb(var(--background-rgb));
  color: rgb(var(--foreground-rgb));
  margin: 0;
}

.title {
  position: sticky;
  top: 0;
  height: 50px;
  width: 100%;
  background-color: rgb(var(--title-rgb));
  display: grid;
  grid-template-columns: 1fr clamp(150px, 20vw, 300px) 1fr;
  align-items: center;
  z-index: 2;
}

.title-left {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.title-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.title-right-grid {
  display: grid;
  grid-template-columns: 1fr auto auto auto;
  align-items: right;
}

.item-left {
  margin: 0px 5px;
  justify-self: left;
  display: grid;
}
.item-center {
  justify-self: center;
}
.item-right {
  margin: 0px 5px;
  justify-self: right;
  display: grid;
}

.btn {
  height: 40px;
  stroke-width: 4px;
  stroke: rgb(var(--foreground-rgb));
  stroke-linecap: round;
  fill: none;
  opacity: 1;
  cursor: pointer;
  transition-duration: 250ms;
}

.inactive .btn {
  opacity: 0.2;
  cursor: default;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .btn:hover {
    stroke-width: 5px;
    stroke: rgb(var(--highlight-rgb));
    transition-duration: 250ms;
  }
  .inactive .btn:hover {
    stroke-width: 4px;
    stroke: rgb(var(--foreground-rgb));
    transition-duration: 250ms;
  }
}
