:root {
  --foreground-rgb: 60, 60, 60;
  --highlight-rgb: 0, 0, 0;
  --background-rgb: 200, 200, 200;
  --select-rgb: 220, 220, 220;
  --title-rgb: 240, 240, 240;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 200, 200, 200;
    --highlight-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
    --select-rgb: 70, 70, 70;
    --title-rgb: 24, 24, 24;
  }
}

html {
  overscroll-behavior-x: none;
}

body {
  background-color: rgb(var(--background-rgb));
  color: rgb(var(--foreground-rgb));
  margin: 0;
}

.btn {
  height: 40px;
  stroke-width: 4px;
  stroke: rgb(var(--foreground-rgb));
  stroke-linecap: round;
  fill: none;
  opacity: 1;
  cursor: pointer;
  transition-duration: 250ms;
}

.inactive .btn {
  opacity: 0.2;
  cursor: default;
}

.menu-backgnd {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  z-index: 0;
  transition: opacity 250ms;
}

.menu-backgnd.visible {
  height: 100vh;
  opacity: 1;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .btn:hover {
    stroke-width: 5px;
    stroke: rgb(var(--highlight-rgb));
    transition-duration: 250ms;
  }
  .inactive .btn:hover {
    stroke-width: 4px;
    stroke: rgb(var(--foreground-rgb));
    transition-duration: 250ms;
  }
}
